{% extends "_layouts/basecp" %}
{% import "_includes/forms" as forms %}

{% set title = "Two-Factor Authentication"|t('app') %}
{% set bodyClass = 'two-factor-authentication' %}

{% block body %}
    {%- set hasLogo = (CraftEdition >= CraftClient and craft.rebrand.isLogoUploaded ? true : false) -%}
    <form id="verify-form" class="verify-form-centered centeralign" action="{{ actionUrl('two-factor-authentication/verify/loginProcess') }}" method="post" accept-charset="UTF-8" {% if hasLogo -%}
            {%- set logo = craft.rebrand.logo -%}
            {%- set padding = logo.height + 30 -%}
            class="has-logo" style="background-image: url('{{ logo.url }}'); background-size: {{ logo.width }}px {{ logo.height }}px; padding-top: {{ padding }}px; margin-top: -{{ round((353+padding)/2) }}px"
        {%- endif %}>

        {{ getCsrfInput() }}

        <h2>{{ 'Two-Factor Authentication'|t('app') }}</h2>
        <p>{{ "Enter the authentication code from your phone."|t('app') }}</p>

        {{ forms.textField({ id: "authenticationCode", name: "code", placeholder: "Authentication Code"|t('app') }) }}

        <div class="buttons">
            <input id="submit" class="btn submit disabled" type="submit" value="{{ "Verify"|t('app') }}">
            <div id="spinner" class="spinner hidden"></div>
        </div>

        <small>{{ "Experiencing any issues? Contact your administrator for help."|t('app') }}</small>
    </form>

    <script type="text/javascript">
        {% if not craft.request.isMobileBrowser(true) %}
            document.getElementById("authenticationCode").focus();
        {% endif %}
    </script>
{% endblock %}
