{% extends "_layouts/basecp" %}
{% import "_includes/forms" as forms %}

{% set title = "Two-Factor Authentication"|t('two-factor-authentication') %}
{% set bodyClass = 'two-factor-authentication' %}

{% set hasLogo = CraftEdition == CraftPro and craft.rebrand.isLogoUploaded %}

{% set formAttributes = {
    id: 'verify-form',
    method: 'post',
    'accept-charset': 'UTF-8',
    action: actionUrl('two-factor-authentication/verify/login-process'),
} %}

{% if hasLogo %}
    {% set logo = craft.rebrand.logo %}
{% endif %}

{% block body %}
    <main>
        <div class="verify-form centeralign">
            <h1>
                {% if hasLogo %}
                    {{ tag('img', {
                        id: 'login-logo',
                        src: logo.url,
                        alt: systemName,
                        width: logo.width,
                        height: logo.height,
                    }) }}
                {% else %}
                    {{ systemName }}
                {% endif %}
            </h1>

            <form {{ attr(formAttributes) }}>
                {{ csrfInput() }}

                <h2>{{ 'Two-Factor Authentication'|t('two-factor-authentication') }}</h2>
                <p>{{ "Enter the authentication code from your phone."|t('two-factor-authentication') }}</p>

                {{ forms.textField({
                    id: "authenticationCode",
                    name: "authenticationCode",
                    placeholder: "Authentication Code"|t('two-factor-authentication'),
                }) }}

                <div class="buttons">
                    {{ forms.submitButton({
                        id: 'submit',
                        label: "Verify"|t('two-factor-authentication'),
                        spinner: true,
                    }) }}
                </div>

                <small>{{ "Experiencing any issues? Contact your administrator for help."|t('two-factor-authentication') }}</small>
            </form>

            <div id="verify-errors" role="status"></div>
        </div>
    </main>

    <script type="text/javascript">
        {% if not craft.app.request.isMobileBrowser(true) %}
            document.getElementById("authenticationCode").focus();
        {% endif %}
    </script>
{% endblock %}
